*{

    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    

}
a{
    text-decoration: none;
    color:#d84040;
}
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 30px;
   background-color: #EEEEEE;
}
header.logo{
    font-size: 30px;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right: 30px;
}
header ul li a{
    padding: 4px 10px;
    border-radius: 25px;
}
header ul li a:hover{
    
    transform: scale(2.1);
}
section{
    padding: 70px 140px;
}
.main1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(#) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.main1 h2{
    color:black;
    font-size: 1.4em;
    font-weight: 500;
}
.main1 h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #d84040;
    font-size: 2em;
    font-weight: 600;
}
.main1 h3{
    color: black;
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}
.main-btn{
    background-color:black;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9357em 2.187em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 35px;

}
.main-btn:hover{
    background-color: #d84040;
    transform: scale(1.1);
    transition: 0.7s ease;
    color: black;
}


.title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
    background-color: #EEEEEE;
    width:21.25em;
    box-shadow: 0 5px 10px #d84040;
    border-radius: 10px;
    padding: 10px;
    margin: 9px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #EEEEEE;
    font-size:8em ;
    text-align: center;

}
.info{
    text-align: center;

}
.info h3{
    color:#D84040;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background-color: #EEEEEE;
}
.projects .content{
    margin-top:30px; ;
}
.project-card{
    background-color: #EEEEEE;
    width:21.25em;
    box-shadow: 0 5px 10px #d84040;
    border-radius: 10px;
    padding: 10px;
    margin: 9px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}.project-card:hover .project-image{
    opacity: 0.9;
}
.project-image img{
    background-size: cover;
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8;
    color: black;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: underline;
    color: black;
}
.more-details:hover{
    color: #d84040;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    background-color: #EEEEEE;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.form, .map {
    width: 100%;
    height: 100%;
    max-width: 600px;
    padding: 30px;
    
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.form h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #d84040;
}

.form h4 {
    font-size: 1em;
    margin-bottom: 25px;
    color:black;
    overflow: hidden;
    text-decoration: none;
}

.inputs input, .inputs textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.inputs input:focus, .inputs textarea:focus {
    border-color: #d84040;
    box-shadow: 0 0 5px #d84040;
}

.inputs textarea {
    resize: vertical;
    height: 150px;
}

.inputs button {
    width: 100%;
    padding: 15px;
    background-color: #d84040;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inputs button:hover {
    background-color: #d84040;
}

.map iframe {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 8px;
}

.social-media-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.social-icon-link {
    margin: 0 10px;
    text-decoration: none;
}

.social-icon-link img {
    width: 40px;
    height: 40px;
    color: #d84040;
}

